<h1> Want to bike smarter? Create an Account Today</h1>

<!-- once there are validation, this will display errors when the user fails to login -->
<% @user.errors.messages.each do |attr, message| %>
  <p>WOMP! It looks like your <%= attr %>  <%= message.join %>. Fix it, bro!</p>
<% end %>

<div class="signup">
<!-- NEW USER SIGN UP FORM -->
<p class="signup">
  <%= form_for(@user) do |f| %>
  <%= f.label(:name) %>
  <%= f.text_field(:name) %>
  <%= f.label(:email) %>
  <%= f.text_field(:email) %>
  <!-- these input controls will obscure the password -->
  <%= f.label(:password) %>
  <%= f.password_field(:password) %>
  <%= f.label(:password_confirmation) %>
  <%= f.password_field(:password_confirmation) %>
  <%= f.submit "Sign Up" %>
<% end %>
</p>
</div>
