<body>
  <div id="user-wrapper">
    <%= link_to "Home", root_path %>
    <%= link_to "Edit Your Account", edit_user_path(@user) %>
    <%= link_to "Delete Your Account", user_path(@user), method: :delete %>

    <div id = "directions-button">
    </div>
    <form id = "form-directions">
      Origin: <input id="directions-origin" type="text" name="fname"><br>
      Destination: <input id="directions-destination" type="text" name="destination"><br>
      <input id= "directions-trigger" type="submit" value="Submit">
    </form>

    <h1>Hi <%= @user.name %></h1>
    <button id="citibike">CitiBike Stations</button>
    <button id="bikeshops">Bike Shops</button>
    <button id="accidents">Accidents</button>


      <div id="map-canvas">
      </div>



    <br/>
    <div id="routes">

      <h2 id="routestext"><center> My Routes </center></h2>
      <%= link_to "See My Routes", user_routes_path(@user) %><br/>
        <ul>
    <% @routes.each do |route| %>
        <li>
          <a href="/users/<%= @user.id %>/routes/<%= route.id %>">
            <%= route.start_point %> to <%= route.end_point %>
          </a>
        </li>
    <% end %>
  </ul>

    </div>
    <div id = "directions">
      <h2 id="directionstext"><center> Directions </center></h2>
    </div>
  </div>
<div class="footer">
            <p class="footertext">© 2014 CycleSmart, Inc., All Rights Reserved
                CycleSmart and the WDI Project are registered trademarks of WDI Media, Inc.</p>
          </div>
</body>


