
<div id="wrapper">
<% if logged_in? %>
    <%= current_user.name %>
    <%= link_to "Your Account", user_path(current_user), class: "links" %>
    <!-- use current_user here because we don't have access @user -->
     <%= link_to "See My Routes", user_routes_path(current_user), class: "links" %>
    <a class="links" href="/logout"> Logout</a>
</div>
<% else %>
    <!-- A form_tag instead of form_for because there is no model for sessions,
      send post request to /session/create in session controller -->
    <div class="banner">
<img id="cyclerlogo" src="http://i60.tinypic.com/xcna0g.jpg"><em> <!-- <h1 class="logo"> Cycle Smart </h1> </em> -->

      <div class="login">
      <%= form_tag("/session", method: "post") do %>
        <div class="email"><%= label_tag(:email) %></div>
        <%= text_field_tag(:email) %>
        <div class="password"><%= label_tag(:password) %></div>
        <%= password_field_tag(:password) %>
        <%= submit_tag("Login") %><br>
        <em><p class="notregistered"> Not yet registered? </p></em>
        <a class="getstarted" href="/users/new">Get Started with CycleSmart!</a>

      <% end %>
      </div>
    </div>

    <h1 class="question"> Want to bike smarter? Create an Account Today</h1>

<!-- once there are validation, this will display errors when the user fails to login -->
<% @user.errors.messages.each do |attr, message| %>
  <p>WOMP! It looks like your <%= attr %>  <%= message.join %>. Fix it, bro!</p>
<% end %>

<div class="signup">
<!-- NEW USER SIGN UP FORM -->
  <p class="signup">
    <%= form_for(@user) do |f| %>
    <%= f.text_field :name, :placeholder => "Your First Name", class: "signup_name"  %><br>
    <%= f.text_field :email, :placeholder => "Your Email Address", class: "signup_email" %>
    <br>
      <!-- these input controls will obscure the password -->
    <%= f.password_field :password, :placeholder => "New password", class: "signup_password"%>
    <br>
    <%= f.password_field :password_confirmation, :placeholder => "Re-Enter Password", class: "signup_passwordconf" %>
    <br>
    <%= f.submit "Sign Up" %>

    <div class="infobox">
      <h1 class="infotext"> What we do </h1>
    </div>

  </p>
</div>
<% end %>








<% end %>
<<<<<<< HEAD
<div class="footer">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

  <p class="footertext">© 2014 CycleSmart, Inc., All Rights Reserved
CycleSmart is a registered trademark of WDI, Inc. </p>
</div>

<!-- <p class="footer"> Hello </p> -->
  <!-- <img class="bikepic1" src="http://www.nycbikemaps.com/wp-content/uploads/2007/01/Manhattan-Bike-Lane-DSC_0488-750x388.jpg">
  <img class="bikepic2" src="http://www.nycbikemaps.com/wp-content/uploads/2007/01/Manhattan-Bike-Lane-DSC_0473-750x388.jpg">
  <img class="bikepic3" src="http://www.nycbikemaps.com/wp-content/uploads/2007/01/BIcycle-Parking-Chelsea-2013-04-18-17.58.47-750x388.jpg">
 -->
