<h1>Welcome to CycleSmart</h1>

<% if logged_in? %>
    <h2><%= current_user.name %></h2>
    <%= link_to "Your Account", user_path(current_user) %><br/>
    <!-- use current_user here because we don't have access @user -->
     <%= link_to "See My Routes", user_routes_path(current_user) %><br/>
    <a href="/logout"> Logout</a>
<% else %>
    <!-- A form_tag instead of form_for because there is no model for sessions,
      send post request to /session/create in session controller -->
    <div login id='login'>
      <h2> Login </h2>
      <%= form_tag("/session", method: "post") do %>
        <%= label_tag(:email) %>
        <%= text_field_tag(:email) %>
        <%= label_tag(:password) %>
        <%= password_field_tag(:password) %>
        <%= submit_tag("Login") %>
      <% end %>
    </div>
    <br>
    <div signup id='signup'>
      <a href="/users/new">Get Started with CycleSmart</a>
    </div>
<% end %>


