<!DOCTYPE html>
<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Crafty+Girls' rel='stylesheet' type='text/css'>
  <title>CycleSmart</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&sensor=false" ></script>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  </head>
<body>

<% if flash[:created] %>
  <div class="created"><%= flash[:created] %></div>
<% elsif flash[:create_error] %>
  <div class="create_error"><%= flash[:create_error] %></div>
<% elsif flash[:update] %>
  <div class="update"><%= flash[:update] %></div>
<% elsif flash[:delete] %>
  <div class="delete"><%= flash[:delete] %></div>
<% end %>
<%= yield %>

</body>
</html>
